<div class="sw-footer-overlay">
    <div class="container">
      
      <div class="terms mb-10 text-center">
      PMI®, PMP®, CAPM®, PBA®, RMP®, PMBOK® and ACP®, are registered trademarks of the Project Management Institute, Inc.
The PMI® Registered Education Provider logo is a registered mark of the Project Management Institute, Inc.
Project Management Solutions (Pvt) Ltd, # 22 , Kirulapone Avenue, Colombo 05, Sri Lanka
Prince2, Prince2 Foundation, Prince2 Practitioner are registered trademarks of AXELOS in the United Kingdom and/or other countries.
Our courses are not certified, accredited, affiliated with, nor endorsed by the AXELOS.</div>
    </div>

    <!-- footer bottom -->
    <div class="sw-footer-bottom">
      <div class="container">
        <!-- copyright -->
        <div class="sw-white">© 2020. PMS.lk. All rights reserved.</div>
        <!-- author -->
        <div class="sw-white"></div>
      </div>
    </div>
    <!-- footer bottom end -->
  </div>