<div class="sw-footer-overlay">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 mb-30">
          <!-- footer logo and info -->
          <div class="sw-footer-info">
            <!-- logo link -->
            <a href="#." class="sw-logo sw-black mb-15">
              <!-- logo img -->
              <img src="/public/img/business/logo/logo.png" alt="logo">
            </a>
            <!-- logo link end -->
            <!-- info -->
          </div>
          <!-- social link -->
          <a href="#." class="sw-btn sw-icon-btn sw-md-btn sw-border-btn sw-round-btn sw-black-btn" target="_blank"><i class="sw-icon far fa-circle"></i></a>
          <!-- social link -->
          <a href="#." class="sw-btn sw-icon-btn sw-md-btn sw-border-btn sw-round-btn sw-black-btn" target="_blank"><i class="sw-icon far fa-star"></i></a>
          <!-- social link -->
          <a href="#." class="sw-btn sw-icon-btn sw-md-btn sw-border-btn sw-round-btn sw-black-btn" target="_blank"><i class="sw-icon far fa-square"></i></a>
          <!-- social link -->
          <a href="#." class="sw-btn sw-icon-btn sw-md-btn sw-border-btn sw-round-btn sw-black-btn" target="_blank"><i class="sw-icon far fa-smile"></i></a>
        </div>
        <!-- footer logo and info end -->
        <div class="col-lg-2">
          <!-- footer list title -->
          <h6 class="mb-20 sw-black">Menu</h6>
          <!-- footer list 1 -->
          <ul class="sw-footer-list sw-black">
            <!-- footer link -->
            <li><a href="#." class="sw-opas">Home</a></li>
            <!-- footer link -->
            <li><a href="#." class="sw-opas">About</a></li>
            <!-- footer link -->
            <li><a href="#." class="sw-opas">Services</a></li>
            <!-- footer link -->
            <li><a href="#." class="sw-opas">Courses</a></li>
            <!-- footer link -->
            <li><a href="#." class="sw-opas">Blog</a></li>
            <!-- footer link -->
            <li><a href="#." class="sw-opas">Contact</a></li>
          </ul>
          <!-- footer list 1 end -->
        </div>
        <div class="col-lg-2">
          <!-- footer list title -->
          <h6 class="mb-20 sw-black">Additionally</h6>
          <!-- footer list 2 -->
          <ul class="sw-footer-list sw-black">
            <!-- footer link -->
            <li><a href="#." class="sw-opas">Services</a></li>
            <!-- footer link -->
            <li><a href="#." class="sw-opas">Events</a></li>
            <!-- footer link -->
            <li><a href="#." class="sw-opas">Courses</a></li>
            <!-- footer link -->
            <li><a href="#." class="sw-opas">How to book</a></li>
          </ul>
          <!-- footer list 2 end -->
        </div>

      </div>
      <div class="terms mb-10 text-center">
      PMI®, PMP®, CAPM®, PBA®, RMP®, PMBOK® and ACP®, are registered trademarks of the Project Management Institute, Inc.
The PMI® Registered Education Provider logo is a registered mark of the Project Management Institute, Inc.
Project Management Solutions (Pvt) Ltd, # 22 , Kirulapone Avenue, Colombo 05, Sri Lanka
Prince2, Prince2 Foundation, Prince2 Practitioner are registered trademarks of AXELOS in the United Kingdom and/or other countries.
Our courses are not certified, accredited, affiliated with, nor endorsed by the AXELOS.</div>
    </div>

    <!-- footer bottom -->
    <div class="sw-footer-bottom">
      <div class="container">
        <!-- copyright -->
        <div class="sw-white">© 2020. PMS.lk. All rights reserved.</div>
        <!-- author -->
        <div class="sw-white"></div>
      </div>
    </div>
    <!-- footer bottom end -->
  </div>