<style>
  nav li{
    height: 1rem;
  }
  #branding{
    width: 10%;
  }
</style>
<div class="sw-menu sw-menu-fixed">
    <div class="container">
      <div id="branding" class="sw-menu-content">
        <!-- logo link -->
        <a href="/" class="sw-logo">
          <!-- logo img -->
          <img src="/public/img/business/logo/logo.png" alt="Project Management Solutions">
        </a>
        <!-- logo link end -->
        <!-- menu right side-->
        <div class="sw-menu-right">
          <nav >
            <!-- menu list -->
            <ul class="main-menu">
              <!-- nav link -->
              <li class="menu-item current-menu-parent"><a href="/">Home</a></li>
              <!-- nav link -->
              <li class="menu-item current-menu-parent">
                <a href="/about">About</a>
              </li>
              <!-- nav link -->
              <li class="menu-item"><a href="/courses/display/schedule">Schedule</a></li>
              <!-- nav link -->
              <li id="navbar" class="menu-item current-menu-parent">
                <a href="/courses">Courses</a>
                <% if(courses != undefined){ %>
                  <div id="navbar-menu">
                    <div class="container">
                    <div class="row">
                    <%
                      let courseTypes = [['agile',"Agile"], ["projectManagement", "Project Management"],
                       ["communityProjects", "Community Projects"], ["softSkills", "Soft Skills"], ["businessManagement", "Business Analysis"]] 
                      for(let c = 0; c < courseTypes.length; c++){
                        let type = courseTypes[c]
                        let filteredCourses = courses.filter(cs => cs.type == type[0])
                        if(filteredCourses.length > 0){  
                        %>
                          <div class="col">
                            <h5><%= type[1] %></h5>
                        <%
                        for ( var i = 0; i < filteredCourses.length; i++ )
                            {
                                var course = filteredCourses[i]
                                if(course.title != ""){
                                    %>
                                  <a href="/courses/<%= course.moniker %>"><%= course.title %></a>  <%
                                }
                            }
                            %> </div> <%
                      }
                    }
                    %>
                </div>
              </div>
              </div>
                  <% } %>
                
              </li>
              <li class="menu-item current-menu-parent">
                <a href="/blog">Blog</a>
              </li>
              <!-- nav link -->
              <li class="menu-item current-menu-parent">
                <a href="/register">Register</a>
              </li>
              <!-- nav link -->
              <li class="menu-item"><a href="/contact">Contact</a></li>
            </ul>
            <!-- menu list end -->
          </nav>
          
          <!-- menu right side end -->
          <!-- mobile menu button -->
          <div class="sw-open-menu">
            <div class="sw-menu-button">
              <div class="sw-burger"><span></span></div>
            </div>
          </div>
          <!-- mobile menu button end -->
          <!-- social links -->
          <div class="sw-menu-social-links">
            <!-- social link -->
            
            <a href="https://www.facebook.com/Project-Management-Solutions-288298102741/" target="_blank"><i class="fa fa-facebook fa-lg"></i></a>
            <a href="https://twitter.com/PMSsrilanka" target="_blank"><i class="fa fa-twitter fa-lg"></i></a>
            
            <a href="#." target="_blank" data-toggle="tooltip" title="0772511711"><i class="fa fa-mobile fa-lg"></i></a>
            <a href="#." target="_blank" data-toggle="tooltip" title="info@pms.lk"><i class="fa fa-envelope fa-lg"></i></a>
          </div>
          <!-- social links end -->
        </div>
      </div>
    </div>
  </div>
