<meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css -->
  <!-- bootstrap css -->
  <link rel="stylesheet" href="/public/css/plugins/bootstrap.min.css">
  <!-- font awesome css -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <!-- swiper css -->
  <link rel="stylesheet" href="/public/css/plugins/swiper.min.css">
  <!-- lity css -->
  <link rel="stylesheet" href="/public/css/plugins/lity.min.css">
  <!-- animsition css -->
  <link rel="stylesheet" href="/public/css/plugins/animsition.min.css">
  <!-- style css -->
  <link rel="stylesheet" href="/public/css/style-business.css">
  <!-- page title -->
  <title><%= title %></title>
  <!-- <meta name="fragment" content="!">  -->
  <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-144961350-2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-144961350-2');
  gtag('config', 'AW-746721206');
</script>

<script type='text/javascript'>
  window.smartlook||(function(d) {
    var o=smartlook=function(){ o.api.push(arguments)},h=d.getElementsByTagName('head')[0];
    var c=d.createElement('script');o.api=new Array();c.async=true;c.type='text/javascript';
    c.charset='utf-8';c.src='https://rec.smartlook.com/recorder.js';h.appendChild(c);
    })(document);
    smartlook('init', 'd4813358984d8eee80cf9d93106e58fdca2bf2bc');
</script>
