<!DOCTYPE html>
<html lang="zxx">

<head>
  <%- include("../partials/head", {title: "About Us | Project Management Solutions"}) %>
  <meta name="description" content="We are a Project Management Training and Consultancy firm that offers a range of training and consultancy services. Since 2006">
  <meta name="keywords" content="institute of project management , pmi, pmi colombo, project management course sri lanka, pmi sri lanka">
</head>

<body>

  <!-- preloader -->
  <svg class="sw-loading" style="position: fixed;top: calc(50% - 30px);left: calc(50% - 30px);" width="35" height="35" viewBox="0 0 300 300" xmlns="http://www.w3.org/2000/svg" version="1.1">
    <path d="M 150,0 a 150,150 0 0,1 106.066,256.066 l -35.355,-35.355 a -100,-100 0 0,0 -70.711,-170.711 z" fill="#D8D8D8">
      <animateTransform attributeName="transform" attributeType="XML" type="rotate" from="0 150 150" to="360 150 150" begin="0s" dur=".5s" fill="freeze" repeatCount="indefinite"></animateTransform>
    </path>
  </svg>
  <!-- preloader end -->

  <!-- page wrapper -->
  <div class="sw-page-wrapper animsition">

    <!-- menu -->
    <%- include("../partials/header") %>
    <!-- menu end -->

    <!-- banner -->
    <div class="sw-banner sw-banner-sm">
        <img src="/public/img/business/banners/banner-5.png" alt="banner" class="sw-banner-image">
        <!-- overlay -->
        <div class="sw-overlay sw-overlay-left-1">
          <div class="container sw-d-flex">
            <!-- main title frame -->
            <div class="sw-main-title sw-main-title-left sw-animation-opas sw-top-header-fix">
              <!-- title -->
              <h1 class="sw-white">About Us</h1>
              
            </div>
            
            <!-- main title frame end -->
          </div>
        </div>
        <!-- overlay end -->
      </div>
      <!-- banner end -->
  
      <main id="sw-content">
  
        <div class="sw-over-frame sw-up">
  
          <div class="container">
  
            <!-- breadcrumbs -->
            <ul class="sw-breadcrumb p-30-30">
              <li><a href="/">Home</a></li>
              <li><a href="#.">About</a></li>
              <li><a href="#sw-content">About our team</a></li>
            </ul>
            <!-- breadcrumbs end -->
  
          </div>
        </div>
        
        <div class="container">
          <div class="row p-60-0">
  
            <div class="col-lg-12">
  
              <div class="sw-bt sw-bt-right">
                <svg width="100%">
                  <text x="0" y="140px" font-size="150px" stroke="#3e3e41" stroke-width="4" fill="transparent">
                    <!-- section title -->
                    About
                  </text>
                </svg>
              </div>
  
            </div>
  
            <div class="col-lg-6">
  
              <div>
                <!-- title -->
                <h4 class="mb-30">Who we are?</h4>
              </div>
  
            </div>
  
         
            <div class="col-lg-12">
  
              <div class="sw-about-text">
                <p>Project Management Solutions is a Project Management Training and Consultancy firm that offers a range of training and consultancy services. We are the pioneer project management solutions provider in Sri Lanka armed with the top notch PM specialists.</p>
                <br>
                 <p> PMS provides superior project management training and professional development programs to advance organizational and individual project performance. Our programs deliver a project management learning experience that has immediate impact, focusing on the knowledge, skills, and attributes required to build project team member competency.</p>
              </div>
  
            </div>
  
          </div>
        </div>
  
        <div class="container">
          <div class="row p-30-30">
  
            <div class="col-lg-12">
  
              <div class="sw-bt sw-bt-right">
                <svg width="100%">
                  <text x="0" y="140px" font-size="150px" stroke="#3e3e41" stroke-width="4" fill="transparent">
                    <!-- section title -->
                    Features
                  </text>
                </svg>
              </div>
  
            </div>
  
            <div class="col-lg-12">
  
              <div class="mb-30">
                <!-- title -->
                <h4 class="mb-30">Why PMS?</h4>
              </div>
  
            </div>
  
            <ul>
              <li>Centralized coordination of your scheduling and training needs.</li>
              <li>Consistent and convenient services for a complete training solution.</li>
              <li>Custom curriculum development and delivery.</li>
              <li>On-site training for your employees, customers or partners or at one of our convenient locations</li>
            </ul>
          
          </div>
        </div>
  
        <div class="sw-over-frame p-0">
          <div class="container-fluid">
            <div class="row">
  
              <div class="col-lg-6 col-md-6">
  
                <div class="sw-video-description">
                  <!-- title -->
                  <h3 class="mb-30">PMS Faculty</h3>
  
                  <!-- Text -->
                  <div class="mb-15">The PMS training team has over fifteen (15) years of PM experience. PMS instructors are thoroughly trained and certified in their respective area(s) of expertise and provide the highest level of quality, interactive and productive learning experience for students. Our instructors are regularly tested and students complete an evaluation of each instructor at the end of each course. We require our instructors to maintain a 90 percent or higher student approval rating</div>
                  <!-- button -->
                  <a href="/contact" class="sw-btn sw-lg-btn sw-round-btn sw-solid-btn sw-color-2-btn">Contact Us</a>
                </div>
  
              </div>
  
              <div class="col-lg-6 col-md-6 p-0">
                <!-- video -->
                <div class="sw-ilustration-frame">
                  <!-- video cover -->
                  <img src="/public/img/business/other/about-cover.jpg" alt="Team">
                  <!-- expirience circle -->
                  <div class="sw-puls-1"></div>
                  <div class="sw-puls-2"></div>
                  <div class="sw-img-overlay">
                    <div class="sw-expirience-circle"><span>12</span>
                      <div class="sw-y-o-e">Years</div>
                    </div>
                  </div>
                  <!-- expirience circle  end -->
                </div>
                <!-- video end -->
              </div>
  
            </div>
          </div>
        </div>
  
  
  
        <div class="container">
          <div class="row p-60-0">
            <div class="col-lg-12">
  
              <div class="sw-bt sw-bt-right">
                <svg width="100%">
                  <text x="0" y="140px" font-size="150px" stroke="#3e3e41" stroke-width="4" fill="transparent">
                    <!-- section title -->
                    Testimonials
                  </text>
                </svg>
              </div>
  
            </div>
  
            <div class="col-lg-12">
  
              <div class="row">
  
                <div class="col-lg-6 sw-as-center mb-60">
  
                  <!-- title -->
                  <h4 class="sw-h sw-h-lvl-4 mb-30">Testimonials</h4>
                  <!-- suptitle -->
  
                </div>
                <div class="col-lg-6 sw-as-end text-lg-right text-sm-left mb-60">
  
                  <!-- hint -->
                  <a href="#." class="sw-btn sw-icon-btn sw-md-btn sw-solid-btn sw-round-btn sw-color-1-btn sw-swiper-prev sw-testi-swiper-prev sw-animation-left"><i class="fas fa-chevron-left"></i></a>
                  <a href="#." class="sw-btn sw-icon-btn sw-md-btn sw-solid-btn sw-round-btn sw-color-1-btn sw-swiper-next sw-testi-swiper-next sw-animation-right"><i class="fas fa-chevron-right"></i></a>
  
                </div>
  
              </div>
  
            </div>
  
            <div class="col-lg-12">
  
              <div class="swiper-container sw-testimonials-slider" style="overflow: visible;">
                <div class="swiper-wrapper">
  
                  <div class="swiper-slide">
  
                    <!-- testimonial-->
                    <div class="sw-testimonial">
                      <!-- reviewer frame -->
                      <div class="sw-reviewer-frame">
                        <!-- img -->
                        <!-- name -->
                        <div>
                          <h6>W. Akash Fernando PhD, PMP</h6>
                        </div>
                      </div>
                      <!-- reviewer frame end -->
                      <!-- testimonial frame -->
                      <div class="sw-testimonial-frame">
                        <!-- testimonial text -->
                        <div class="mb-10">Dr. Duminda Weeraratne is an exceptional mentor with indepth knowledge related to project management and the PMP examination process. In addition to the excellent lectures, his mock examinations were monumental to my success. I must say it would have been very difficult to pass this exam in my first attempt, if not for the guidance of Dr. Weeraratne.</div>
                      </div>
                      <!-- testimonial frame end -->
                    </div>
                    <!-- testimonial end -->
  
                  </div>
  
                  <div class="swiper-slide">
  
                    <!-- testimonial-->
                    <div class="sw-testimonial">
                      <!-- reviewer frame -->
                      <div class="sw-reviewer-frame">
                        <!-- img -->
                        <!-- name -->
                        <div>
                          <h6>Sanduni Jayathilake</h6>
                          <div class="sw-t sw-post">World University Service of Canada</div>
                        </div>
                      </div>
                      <!-- reviewer frame end -->
                      <!-- testimonial frame -->
                      <div class="sw-testimonial-frame">
                        <!-- testimonial text -->
                        <div class="mb-10">I am really grateful to our lecturer Mr. Duminda for all the knowledge, support, and valuable advice given to us, which paved our way to pass the PMP exam in our first attempt. On the first day itself he gave us a study plan and some exam tips. The slides and the chapter questions were helpful for us to better understand the concepts. Real life examples were shared. It is not only theoretical base but there were group activities in class creating a space to share best practices and PMP concepts among other students representing diverse industries yet studying and practicing project management.</div>
                      </div>
                      <!-- testimonial frame end -->
                    </div>
                    <!-- testimonial end -->
  
                  </div>
  
                  <div class="swiper-slide">
  
                    <!-- testimonial-->
                    <div class="sw-testimonial">
                      <!-- reviewer frame -->
                      <div class="sw-reviewer-frame">
                        <!-- img -->
                        <!-- name -->
                        <div>
                          <h6>Maduka Colombage PMP®, CSM®</h6>
                          <div class="sw-t sw-post">Manager- Virtusa Cooparation, New York, USA</div>
                        </div>
                      </div>
                      <!-- reviewer frame end -->
                      <!-- testimonial frame -->
                      <div class="sw-testimonial-frame">
                        <!-- testimonial text -->
                        <div class="mb-10">It is with great pleasure that I write this note for Project Management Solutions (PMS). I wanted to get the PMP credentials and looking for a place to get start. After careful analysis I selected the PMS and I dedicated 5 days from my year-end vacation to attend the course. I attended the PMP preparation program conducted at PMS in December 2018 and I was able to pass the exam in the first attempt. The training program conducted by Mr. Duminda Weeraratne gave me a great assistance to achieve my goal. Mr. Duminda is an excellent lecturer and course material used were very effective. Without taking this course I would not have been able to pass the PMP Exam. Overall the course filtered out the most important information from the PMBOK® Guide, which helped me to better understand project management, and improved my ability to study for the PMP Exam.
                          I would like to take this opportunity to thank Mr.Duminda and PMS staff for their valuable support given to complete my PMP. I highly recommend the PMP Preparation class to anyone who is interested in obtaining PMP. Thank you!</div>
                      </div>
                      <!-- testimonial frame end -->
                    </div>
                    <!-- testimonial end -->
  
                  </div>
  
                  <div class="swiper-slide">
  
                    <!-- testimonial-->
                    <div class="sw-testimonial">
                      <!-- reviewer frame -->
                      <div class="sw-reviewer-frame">
                        <!-- img -->
                        <!-- name -->
                        <div>
                          <h6>Adeesha Attanayake</h6>
                          <div class="sw-t sw-post">Executive-Business Solutions, Mobitel (Pvt) Ltd.</div>
                        </div>
                      </div>
                      <!-- reviewer frame end -->
                      <!-- testimonial frame -->
                      <div class="sw-testimonial-frame">
                        <!-- testimonial text -->
                        <div class="mb-10">The 6 week, weekend PMP course conducted my Mr. DumindaWeeraratne is most probably the best place in Sri Lanka for PMP exam preparation and to get your 35 hours of PM education required for the exam. He is an excellent teacher with great in-depth knowledge in Project Management and general management in the industry. Class is interactive and you will get a chance to meet great people from similar and other</div>
                      </div>
                      <!-- testimonial frame end -->
                    </div>
                    <!-- testimonial end -->
  
                  </div>
  
                </div>
              </div>
  
            </div>
  
          </div>
        </div>





      <!-- footer -->
      <footer class="sw-footer sw-footer-type-1">
        <%- include("../partials/footer") %>
      </footer>
      <!-- footer end -->

      

    </main>

  </div>
  <!-- page wrapper end -->

  <%- include("../partials/scripts") %>

</body>

</html>
