<!DOCTYPE html>
<html lang="zxx">

<head>
  <%- include("../partials/head", {title: "PMBOK Guide 7th Edition | PMS"}) %>
  <meta name="description" content="This article will breifly describe the new changes in the PMBOK Guide 7th edition. Read more here.">
  <meta name="keywords" content="PMP, PMBOK Guide 7th Edition, Project Management Solutions">

<link rel="canonical" href="https://pms.lk/blog/pmbok-guide-7th-edition" />
<meta property="og:title" content="PMBOK Guide 7th Edition | PMS" />
<meta
  property="og:description"
  content="This article will breifly describe the new changes in the PMBOK Guide 7th edition"
/>
<meta property="og:type" content="webiste" />
<meta property="og:url" content="https://pms.lk/blog/pmbok-guide-7th-edition" />
<meta property="og:site_name" content="Project Management Solutions" />

<meta property="og:image" content="https://i0.wp.com/www.projex.com/wp-content/uploads/The-New-PMBOK-7th-Edition-800x450.jpeg?resize=800%2C450&ssl=1" />
<meta property="og:image:secure_url" content="https://i0.wp.com/www.projex.com/wp-content/uploads/The-New-PMBOK-7th-Edition-800x450.jpeg?resize=800%2C450&ssl=1" />
<meta property="og:image:type" content="image/jpg" />
</head>

<body>

  <!-- preloader -->
  <svg class="sw-loading" style="position: fixed;top: calc(50% - 30px);left: calc(50% - 30px);" width="35" height="35" viewBox="0 0 300 300" xmlns="http://www.w3.org/2000/svg" version="1.1">
    <path d="M 150,0 a 150,150 0 0,1 106.066,256.066 l -35.355,-35.355 a -100,-100 0 0,0 -70.711,-170.711 z" fill="#D8D8D8">
      <animateTransform attributeName="transform" attributeType="XML" type="rotate" from="0 150 150" to="360 150 150" begin="0s" dur=".5s" fill="freeze" repeatCount="indefinite"></animateTransform>
    </path>
  </svg>
  <!-- preloader end -->

  <!-- page wrapper -->
  <div class="sw-page-wrapper animsition">

    <!-- menu -->
    <%- include("../partials/header") %>
    <!-- menu end -->

    <!-- banner -->
    <div class="sw-banner sw-banner-sm">
        <img src="https://steelcase-res.cloudinary.com/image/upload/c_fill,dpr_auto,q_70,h_656,w_1166/v1547652143/www.steelcase.com/2019/01/16/18-0110057.jpg" alt="banner" class="sw-banner-image">
        <!-- overlay -->
        <div class="sw-overlay sw-overlay-left-1-cs">
          <div class="container sw-d-flex">
            <!-- main title frame -->
            <div class="sw-main-title sw-main-title-left sw-animation-opas sw-top-header-fix">
              <!-- title -->
              <h1 class="sw-white">PMBOK Guide 7th Edition</h1>
              <!-- suptitle -->
              <!-- button -->
              <!-- <a href="#sw-book-popup-1" class="sw-btn sw-lg-btn sw-solid-btn sw-color-1-btn" data-lity>Book a session</a> -->
              <!-- button -->
              <!-- <a href="contact-business.html" class="sw-btn sw-lg-btn sw-solid-btn sw-color-2-btn">Ask a question</a> -->
            </div>
            <!-- main title frame end -->
          </div>
        </div>
        <!-- overlay end -->
      </div>
      <!-- banner end -->
  
      <main id="sw-content">
  
        <div class="sw-over-frame sw-up">
  
          <div class="container">
  
            <!-- breadcrumbs -->
            <ul class="sw-breadcrumb p-30-30">
              <li><a href="/blog">Blog</a></li>
              <li><a href="#sw-content">PMBOK Guide 7th Edition</a></li>
            </ul>
            <!-- breadcrumbs end -->
  
          </div>
        </div>
        
        <div class="justify-content-center container">
          <div class="row p-60-0">
  
            <div class="col-lg-12">
  
              <div class="sw-bt sw-bt-right">
                <svg width="100%">
                  <text x="0" y="140px" font-size="150px" stroke="#3e3e41" stroke-width="4" fill="transparent">
                    <!-- section title -->
                    PMBOK Guide 7th edition
                  </text>
                </svg>
              </div>
  
            </div>
  
           
            <div class="col-lg-12">
  
              <div class="sw-about-text">
                <h4>PMBOK Guide 7th Edition</h4>
                <h6>The 7th edition of the PMBOK Guide was released on July 01st 2021</h6>
               <br>
                  <img src="https://www.pmexamsmartnotes.com/wp-content/uploads/pmbok-7-edition-what-new.jpg" alt="pmbok 7th edition">
                  <br>
                  <br>
                <h5>Content of the PMBOK Guide 7th edition</h5>
                <br>
                <ul>
                  <li>Tailoring</li>
                  <li>Models, methods and artifacts</li>
                  <li>8 performance domains</li>
                  <li>12 principles in the Standard for Project Management</li>
                </ul>
                  <br>
                <h5>Major features are :</h5>

                <br>

                <ul>
                  <li><p>Move away from process oriented approach to principle based approach</p></li>
                  <br>
                  <li><p>Knowledge areas, processes, inputs, tools and techniques and outputs are not included in the new version. However, best practices and processes related to various industries, methodologies and frameworks will appear in a digital platform called standard plus.pmi.org.</p></li>
                  <br>
                  <li><p>PMBOK Guide 6th edition version was mainly focusing on waterfall project management practices, processes, tools and techniques. However, the 12 project delivery Principles and 8 performance domains of the 7th edition are relevant to agile, adaptive, hybrid and predictive methods and frameworks. Project professionals have the right to decide which approach to use according to the circumstances.</p></li>
                  <br>
                  <li><p>The 12 Project Delivery Principles and a Value Delivery System will focus on delivering valuable outcomes that satisfy stakeholders rather than deliverables. Project is seen as a means of value delivery and these principles will guide the Project Managers, Team Members and other participants on how to achieve planned outcomes in order to deliver value to the stakeholders.</p></li>
                  <br>
                  <li><p>12 principles guide the decisions, actions and behaviors of project practitioners in whichever development approach they use.</p></li>
                  <br>
                  <li><p>The new guide moved away from knowledge areas to 8 performance domains. Project performance domains are defined as a group of related activities that are critical for the effective delivery of project outcomes.</p></li>
                  <br>
                  <li><p>“Models, Methods, and Artifacts” that represent set of tools and techniques can be applied across performance domains.</p></li>
                  <br>
                  <li><p>New standard also provides for tailoring key factors to unique characteristics of projects. Guidance on how to tailor processes, lifecycles, artifacts, domains and tools and techniques to any circumstances  is provided.</p></li>
                  <br>
                  <li><p>The PMP exam will not change immediately. The PMP exam that was changed in Jan 2021 is already aligned to the new developments. There won’t be a major change to the PMP exam immediately. PMP candidates should follow the PMP exam content outline, study the 6th edition of the PMBOK Guide and reference materials prescribed by PMI. 7th edition based questions are expected to be added to the exam gradually in the future.</p></li>
                </ul>
                  <br>
                  <h5>8 performance domains</h5>
                  <br>
                  <p>The Domains consist of important management practices for effective project management. Performance domains focus on outcomes, not outputs</p>
                  <br>
                  <ul>
                    <li>Team</li>
                    <li>Stakeholder</li>
                    <li>Lifecycle</li>
                    <li>Planning</li>
                    <li>Navigating Uncertainty & ambiguity</li>
                    <li>Delivery</li>
                    <li>Measurement Performance domain</li>
                    <li>Project work</li>
                  </ul>
                  <br>
                  <h5>12 principles in the Standard for Project Management</h5>
                  <br>
                  <p>The 12 governing Principles in the Standard describes the generally accepted actions and behaviors of project management practice relevant to any development approach.</p>
                  <br>
                  <ul>
                    <li><b>Stewardship: </b>be a committed, respectful, and caring steward.</li>
                    <li><b> Team: </b>develop a culture of accountability and respect.</li>
                    <li><b>Stakeholders: </b> involve stakeholders to determine their expectations interests and needs.</li>
                    <li><b>Value: </b>concentrate on value.</li>
                    <li><b>Holistic Thinking: </b>understand system’s interactions and act accordingly.</li>
                    <li><b> Leadership: </b>motivate, influence, coach, and learn.</li>
                    <li><b>Tailoring: </b> tailor the delivery approach to suit the circumstances.</li>
                    <li><b>Quality: </b>make sure quality is inherent to the process and outputs.</li>
                    <li><b>Complexity: </b>deal with complexity using knowledge, experience, and learning.</li>
                    <li><b>Opportunities & Threats: </b>exploit opportunities and manage threats.</li>
                    <li><b> Adaptability & Resilience: </b>be flexible.</li>
                    <li><b> Change Management: </b>support change to achieve the projected future state.</li>
                  </ul>

              </div>
                <br><br>
            </div>
          
          </div>
        </div>



      <!-- footer -->
      <footer class="sw-footer sw-footer-type-1">
        <%- include("../partials/footer") %>
      </footer>
      <!-- footer end -->

      

    </main>

  </div>
  <!-- page wrapper end -->

  <%- include("../partials/scripts") %>

</body>

</html>
