<!DOCTYPE html>
<html lang="zxx">

<head>
  <%- include("../partials/head", {title: "Why Project Management is an essential tool?"}) %>
  <meta name="description" content="Today project management is an essential tool for business success and many fail to use it effectively. Read more here.">
  <meta name="keywords" content="project management tools, business success, business growth, agile project management">
  <meta name="author" content="Dr Duminda Weeraratne">
</head>

<body>

  <!-- preloader -->
  <svg class="sw-loading" style="position: fixed;top: calc(50% - 30px);left: calc(50% - 30px);" width="35" height="35" viewBox="0 0 300 300" xmlns="http://www.w3.org/2000/svg" version="1.1">
    <path d="M 150,0 a 150,150 0 0,1 106.066,256.066 l -35.355,-35.355 a -100,-100 0 0,0 -70.711,-170.711 z" fill="#D8D8D8">
      <animateTransform attributeName="transform" attributeType="XML" type="rotate" from="0 150 150" to="360 150 150" begin="0s" dur=".5s" fill="freeze" repeatCount="indefinite"></animateTransform>
    </path>
  </svg>
  <!-- preloader end -->

  <!-- page wrapper -->
  <div class="sw-page-wrapper animsition">

    <!-- menu -->
    <%- include("../partials/header") %>
    <!-- menu end -->

    
    <!-- banner -->
    <div class="sw-banner sw-banner-sm">
        <img src="https://www.villanovau.com/wp-content/uploads/2019/09/Agile-Coach-compressor.jpg?w=724&h=375&crop=1" alt="banner" class="sw-banner-image">
        <!-- overlay -->
        <div class="sw-overlay sw-overlay-left-1-cs">
          <div class="container sw-d-flex">
            <!-- main title frame -->
            <div class="sw-main-title sw-main-title-left sw-animation-opas sw-top-header-fix">
              <!-- title -->
              <h1 class="sw-white">What has changed in the PMP exam 2021</h1>
              <!-- suptitle -->
              <!-- button -->
              <!-- <a href="#sw-book-popup-1" class="sw-btn sw-lg-btn sw-solid-btn sw-color-1-btn" data-lity>Book a session</a> -->
              <!-- button -->
              <!-- <a href="contact-business.html" class="sw-btn sw-lg-btn sw-solid-btn sw-color-2-btn">Ask a question</a> -->
            </div>
            <!-- main title frame end -->
          </div>
        </div>
        <!-- overlay end -->
      </div>
      <!-- banner end -->
  
      <main id="sw-content">
  
        <div class="sw-over-frame sw-up">
  
          <div class="container">
  
            <!-- breadcrumbs -->
            <ul class="sw-breadcrumb p-30-30">
              <li><a href="/blog">Blog</a></li>
              <li><a href="#sw-content">PMP New Exam Changes</a></li>
            </ul>
            <!-- breadcrumbs end -->
  
          </div>
        </div>
        
        <div class="container">
          <div class="row p-60-0">
  
  
              <div>
                <!-- title -->
                <h4 class="mb-60">PMP New Exam Changes</h4>
              </div>
  
            
  
           
            <div class="col-lg-12">
  
              <!-- <div class="sw-about-text">
                  <img src="/public/img/KnowledgeCenter/essential-tool.jpg" alt="">
                  <hr> -->
             
              <p>PMP new exam will be effective from 02nd January 2021.</p>   
              <br>
              <h5>Major changes to the exam are:</h5>
              <br>
              <table style="width: 500px;" border="1">
                <tbody>
                <tr style="height: 23px;">
                <td style="height: 23px; width: 103px;">&nbsp;<strong>Domain</strong></td>
                <td style="height: 23px; width: 204px;"><strong>&nbsp;Percentage of Items on Test</strong>&nbsp;</td>
                </tr>
                <tr style="height: 23px;">
                <td style="height: 23px; width: 103px;"><span style="font-weight: 400;">&nbsp;I. People </span></td>
                <td style="height: 23px; width: 204px;"><span style="font-weight: 400;">&nbsp;42%</span>&nbsp;</td>
                </tr>
                <tr style="height: 23px;">
                <td style="height: 23px; width: 103px;">&nbsp;<span style="font-weight: 400;">II. Process</span></td>
                <td style="height: 23px; width: 204px;"><span style="font-weight: 400;">&nbsp;50%</span></td>
                </tr>
                <tr style="height: 23px;">
                <td style="height: 23px; width: 103px;">&nbsp;<span style="font-weight: 400;">III. Business&nbsp; &nbsp;Environment </span></td>
                <td style="height: 23px; width: 204px;"><span style="font-weight: 400;">&nbsp;08%</span></td>
                </tr>
                <tr style="height: 23px;">
                <td style="height: 23px; width: 103px;">&nbsp;<span style="font-weight: 400;">Total</span></td>
                <td style="height: 23px; width: 204px;"><span style="font-weight: 400;">&nbsp;100% </span></td>
                </tr>
                </tbody>
                </table>
                <!-- DivTable.com -->
                <br>
                <ul>
                  <li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">Exam is based on three domains instead of five</span></li>
                  <li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">Exam will consists of&nbsp; 50%&nbsp; of Agile/ Hybrid related questions and 50%&nbsp; on predictive life cycle related questions</span></li>
                  <li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">Still the PMBOK Guide 6</span><span style="font-weight: 400;">th</span><span style="font-weight: 400;">&nbsp; edition is the standard to follow(till the 7</span><span style="font-weight: 400;">th</span><span style="font-weight: 400;"> edition is released)</span></li>
                </ul>
                <br>
                <h5>Exam format and types of Questions</h5>
                <br>
                <p><span style="font-weight: 400;">&nbsp;New exam format comprised of:</span></p>
<ul>
<li style="list-style-type: none;">
<ul>
<li><span style="font-weight: 400;"> 180 questions (no test questions)</span></li>
<li><span style="font-weight: 400;"> 230 minutes to complete the exam</span></li>
<li><span style="font-weight: 400;"> One additional breaks for a total of two 10-minute breaks</span></li>
<li><span style="font-weight: 400;"> Questions will be a combination of multiple-choice, multiple responses, matching, hotspot and limited fill-in-the-blank</span></li>
</ul>
</li>
</ul>
<br>
<h5>How to prepare for the new exam</h5>
<br>
<!-- #######  YAY, I AM THE SOURCE EDITOR! #########-->
<p><span style="font-weight: 400;">If you have already completed the PMP preparation program, 50% of what you have learned will support the new exam launched on 02</span><span style="font-weight: 400;">nd</span><span style="font-weight: 400;"> January 2021. There is no necessity to do a course again. If you have done the course sometime back and wish to refresh your knowledge, please contact us for guidance.</span></p>
<br>
<p><span style="font-weight: 400;">PMI USA is organizing a transition program to bridge your knowledge between current and new versions of the PMP. The course is self-paced and offered online for FREE from 22 January to 18 April 2021. Visit PMI website and register immediately using this link;&nbsp;&nbsp;&nbsp;&nbsp;</span></p>
<br>
<p><a target="_blank" rel="noopener noreferrer" href="https://www.pmi.org/learning/training-development/online-courses/coming-soon-free-agile-hybrid-online-course" style="font-weight: 400; color: purple;"> Coming Soon: Free Online Course for New PMP Exam Candidates</span></a><span style="font-weight: 400; color: purple;">&nbsp;</span></p>
<br>
<p><span style="font-weight: 400;">If you don&rsquo;t do well on the exam, PMI will offer eligible candidates 65% off any re-examination fees.</span></p>
<p><span style="font-weight: 400;">All candidates planning to take the new PMP by 18 April will be eligible for the free course.&nbsp;</span></p>
<p>&nbsp;</p>
<p><em><span style="font-weight: 400;">For any clarification please call on <b>0772511711</b> or write to <b>duminda.weeraratne@gmail.com</b></span></em></p>
<p>&nbsp;</p>
<h5><em><span>PMI recommended reference list for new exam:</span></em></h5>
<br>
<p><em><span style="font-weight: 400;">Agile Practice Guide</span></em></p>
<p><span style="font-weight: 400;">Author: Project Management Institute</span></p>
<p><span style="font-weight: 400;">Publisher: Project Management Institute</span></p>
<p>&nbsp;</p>
<p><em><span style="font-weight: 400;">A Guide to the Project Management Body of Knowledge (PMBOK</span></em><em><span style="font-weight: 400;">&reg;</span></em><em><span style="font-weight: 400;">&nbsp;Guide) &ndash;&nbsp;</span></em><span style="font-weight: 400;">6</span><span style="font-weight: 400;">th</span><span style="font-weight: 400;">&nbsp;Edition</span></p>
<p><span style="font-weight: 400;">Author: Project Management Institute</span></p>
<p><span style="font-weight: 400;">Publisher: Project Management Institute</span></p>
<p>&nbsp;</p>
<p><em><span style="font-weight: 400;">Project Management: A Systems Approach to Planning, Scheduling, and Controlling</span></em></p>
<p><span style="font-weight: 400;">Author: Harold Kerzner</span></p>
<p><span style="font-weight: 400;">Publisher: Wiley</span></p>
<p>&nbsp;</p>
<p><em><span style="font-weight: 400;">Effective Project Management: Traditional, Agile, Extreme, Hybrid</span></em></p>
<p><span style="font-weight: 400;">Author: Robert K. Wysocki</span></p>
<p><span style="font-weight: 400;">Publisher: Wiley</span></p>
<p>&nbsp;</p>
<p><em><span style="font-weight: 400;">Fundamentals of Technology Project Management, 2</span></em><em><span style="font-weight: 400;">nd</span></em><em><span style="font-weight: 400;">&nbsp;Edition</span></em></p>
<p><span style="font-weight: 400;">Author: Colleen Garton with Erika McCulloch</span></p>
<p><span style="font-weight: 400;">Publisher: MC Press</span></p>
<p>&nbsp;</p>
<p><em><span style="font-weight: 400;">Project Manager's Portable Handbook, 3</span></em><em><span style="font-weight: 400;">rd</span></em><em><span style="font-weight: 400;">&nbsp;Edition</span></em></p>
<p><span style="font-weight: 400;">Author: David Cleland and Lewis Ireland</span></p>
<p><span style="font-weight: 400;">Publisher: McGraw-Hill</span></p>
<p><em><span style="font-weight: 400;">Information Technology Project Management, 7</span></em><em><span style="font-weight: 400;">th</span></em><em><span style="font-weight: 400;">&nbsp;Edition</span></em></p>
<p><span style="font-weight: 400;">Author: Kathy Schwalbe</span></p>
<p><span style="font-weight: 400;">Publisher: Cengage Learning</span></p>
<p>&nbsp;</p>
<p><em><span style="font-weight: 400;">Essential Scrum: A Practical Guide to the Most Popular Agile Process</span></em></p>
<p><span style="font-weight: 400;">Author: Kenneth S. Rubin</span></p>
<p><span style="font-weight: 400;">Publisher: Addison-Wesley</span></p>
<p>&nbsp;</p>
<p><em><span style="font-weight: 400;">Project Management: The Managerial Process</span></em></p>
<p><span style="font-weight: 400;">Author: Erik Larson</span></p>
<p><span style="font-weight: 400;">Publisher: McGraw-Hill</span></p>
<p>&nbsp;</p>
<p><em><span style="font-weight: 400;">The Project Management Tool Kit: 100 Tips and Techniques for Getting the Job Done Right</span></em></p>
<p><span style="font-weight: 400;">Author: Tom Kendrick</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">Reference:</span></p>
<ol>
<li style="font-weight: 400;" aria-level="1"><a href="https://www.pmi.org/"><span style="font-weight: 400;">Project Management Institute</span></a><span style="font-weight: 400;">&nbsp;</span></li>
</ol>

              <h6>Dr. Duminda Weeraratne</h6>
                      <h6>MBA (Sri J), PMP, PMI-RMP, PMI-ACP, CSM, PMI-PBA</h6>
                     <h6> CEO</h6>
                     <br><br>
          </div>
            </div>
  
          </div>
        </div>
  
        <div class="col-lg-6">
  
          <div>
            <!-- title -->
            
          </div>
  
        </div>
  
  
  

      <!-- footer -->
      <footer class="sw-footer sw-footer-type-1">
        <%- include("../partials/footer") %>
      </footer>
      <!-- footer end -->

      

    </main>

  </div>
  <!-- page wrapper end -->

  <%- include("../partials/scripts") %>

</body>

</html>
