<!DOCTYPE html>
<html lang="zxx">

<head>
  <%- include("../partials/head", {title: "What is Agile Project Management? | PMS"}) %>
  <meta name="description" content="Since the widespread popularity of Agile took companies worldwide by storm, project management has arrived at a turning point. Read more here.">
  <meta name="keywords" content="agile project management, project management, why project management, what is project management">
  <meta name="author" content="Dr Duminda Weeraratne">
</head>

<body>

  <!-- preloader -->
  <svg class="sw-loading" style="position: fixed;top: calc(50% - 30px);left: calc(50% - 30px);" width="35" height="35" viewBox="0 0 300 300" xmlns="http://www.w3.org/2000/svg" version="1.1">
    <path d="M 150,0 a 150,150 0 0,1 106.066,256.066 l -35.355,-35.355 a -100,-100 0 0,0 -70.711,-170.711 z" fill="#D8D8D8">
      <animateTransform attributeName="transform" attributeType="XML" type="rotate" from="0 150 150" to="360 150 150" begin="0s" dur=".5s" fill="freeze" repeatCount="indefinite"></animateTransform>
    </path>
  </svg>
  <!-- preloader end -->

  <!-- page wrapper -->
  <div class="sw-page-wrapper animsition">

    <!-- menu -->
    <%- include("../partials/header") %>
    <!-- menu end -->

    <!-- banner -->
    <div class="sw-banner sw-banner-sm">
        <img src="https://steelcase-res.cloudinary.com/image/upload/c_fill,dpr_auto,q_70,h_656,w_1166/v1557324232/www.steelcase.com/2019/05/08/19-0117628.jpg" alt="banner" class="sw-banner-image">
        <!-- overlay -->
        <div class="sw-overlay sw-overlay-left-1-cs">
          <div class="container sw-d-flex">
            <!-- main title frame -->
            <div class="sw-main-title sw-main-title-left sw-animation-opas sw-top-header-fix">
              <!-- title -->
              <h1 class="sw-white">What is Agile Project Management?</h1>
              <!-- suptitle -->
              <!-- button -->
              <!-- <a href="#sw-book-popup-1" class="sw-btn sw-lg-btn sw-solid-btn sw-color-1-btn" data-lity>Book a session</a> -->
              <!-- button -->
              <!-- <a href="contact-business.html" class="sw-btn sw-lg-btn sw-solid-btn sw-color-2-btn">Ask a question</a> -->
            </div>
            <!-- main title frame end -->
          </div>
        </div>
        <!-- overlay end -->
      </div>
      <!-- banner end -->
  
      <main id="sw-content">
  
        <div class="sw-over-frame sw-up">
  
          <div class="container">
  
            <!-- breadcrumbs -->
            <ul class="sw-breadcrumb p-30-30">
              <li><a href="/blog">Blog</a></li>
              <li><a href="#sw-content">What is Agile Project Management?</a></li>
            </ul>
            <!-- breadcrumbs end -->
  
          </div>
        </div>
        
        <div class="container">
          <div class="row p-60-0">
  
            <div class="col-lg-12">
  
              <div class="sw-bt sw-bt-right">
                <svg width="100%">
                  <text x="0" y="140px" font-size="150px" stroke="#3e3e41" stroke-width="4" fill="transparent">
                    <!-- section title -->
                    Agile Project Management: What Is It?
                  </text>
                </svg>
              </div>
  
            </div>
  
           
            <div class="col-lg-12">
  
              <div class="sw-about-text">
                <h4>What is Agile Project Management?</h4>
                <p>Since the widespread popularity of Agile took companies worldwide by storm, project management has
                  arrived at a turning point.</p>
                  <br>
                <p>Project managers are dealing with the fact that all their years of experience and training are fruitless.
                  The need to adapt has never been stronger, and if they do not move with the times and adopt Agile
                  philosophies, they risk being branded as dinosaurs.</p>
                 <br>
                 <p>The advent of the new Agile Certified Practitioner (ACP) from PMI has shown that PMI recognizes the
                  need to build Agile aspects into the Project Management Book of Knowledge (PMBOK). Many companies
                  view project management as either a necessary cost center or an area for saving resource dollars.</p> 
                 <br>
                 <h5>Will Agile and Project Management Co-Exist?</h5>
                 <br>
                 <p>The short answer: Yes. The modern project manager must realize that adaptability is the key to survival
                  in any company. The pace at which technology changes is not speedy but frantic. The project manager
                  that adapts to Agile philosophies realizes quickly that they must take the best of PMBOK and Agile and
                  synthesize a workable solution for the company. The Agile project manager realizes that stability and
                  time with no change has become a relic from the distant past. The Agile project manager can take the
                  skills they have learned and transform themselves into a scrum master; a vital tool in making sure they
                  become Agile program/portfolio managers.</p> 
                 <br>
                 <p>The Agile program or portfolio manager plays a fundamental
                  role in making sure multiple scrum teams communicate on the combined deliverables they are
                  producing. The communication of these teams is, however, a worrying aspect. Unless a company fully
                  leverages Scaled Agile they struggle to ensure coordinated vision. The roles described above give new
                  and exciting possibilities for the project manager to explore, and bring a new and refreshed Agile project
                  management discipline to their company.</p> 
                 <br>
                 <h5>The True Role of the Agile Project Manager; Was It Always There?</h5>
                 <br>
                 <p>The Agile project manager, at their core, is an agent of change. The Agile project manager is also a
                  mentor; someone who can preach the idea that change is a law of nature, and that the organization
                  must not shy away from it, but embrace it fully. A hallmark of good Agile is the mantra of continuous
                  improvement. The structure and agility of companies today is abysmal, and implementing disciplined
                  continuous improvement takes a good deal of bravery.</p> 
                 <br>
                 <p>The application of good, adaptable and realistic project management practices is a starting point for the
                  Agile project manager.</p> 
                 <br>
                 <p>Most of the time, the deployment of good Agile will require organizational changes. This could be
                  significant, as the Agile transformation process must be ensured to work. These underlying structural
                  changes in companies need to be championed by someone, and this is the Agile project manager. They
                  find themselves in a unique position to advocate, manage, and lead changes. They understand
                  organization and what needs to be done to make them more efficient.</p> 
                 <br>
                 <h6>So- Now What?</h6>
                 <br>
                 <p>Project managers must first realize the need for change – they must then adapt and embrace their role
                  as an agent of change. Today’s methodologies are just that - methodologies. Truly successful project
                  managers keep one eye on the environment at present, and another on the future. The new Agile
                  project manager will take any tool at their disposal, and is not a purist. Such an adherence will only serve
                  to doom them. Hopefully, this ability to adapt in Agile and everything we have covered in this article will
                  make project managers realize that they are the masters of their destiny, not a bureaucratic and bloated
                  management.</p>
                 <br>
                
            </div>
  
          </div>
        </div>



      <!-- footer -->
      <footer class="sw-footer sw-footer-type-1">
        <%- include("../partials/footer") %>
      </footer>
      <!-- footer end -->

      

    </main>

  </div>
  <!-- page wrapper end -->

  <%- include("../partials/scripts") %>

</body>

</html>
